[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vacheck = {version=">=0.0.3"}
pandas = {version="*"}
numpy = {version="*"}
statsmodels = "*"
scipy = "*"

[dev-packages]
pytest = {version="*"}
rpy2 = "*"

[requires]
python_version = "3.10"
